body {
  background-color: #dcf2f2;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}


table#chessboard {
  margin: auto;
  table-layout: fixed;
  width: 140px;
}


#chessboard tr td { 
  width: 60px; 
  height: 60px;
  text-align: center;
  font-size: 40px;
  padding: 0px;
}

.white {
	background: #dfcda3;
}

.black {
	background: #c9ac67;
}

#chessboard tr td:hover {
	background: #948261;
}


.selected {
  background: #759259;
}

.validMove.black {
  background: #afbd88;
}

.validMove.white {
  background: #c4d29b;
}

table#bank {
  border: 2px solid #181818; 
  margin: auto;
  table-layout: fixed;
  width: 120px;
}

#bank tr td { 
  width: 85px; 
  height: 70px;
  text-align: left;
  padding: 10px;
  font-size: 40px;
}

#main > div {
    display: inline-block;
}

#main {
    text-align: center;
    margin: 0px auto;
}   

#bank tr td:hover {
  background: #759259;
}

p#message {
  text-align: center;
  background-color: coral;
  margin: auto;
  font-size: 25px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 200px;
}



span.badge {
  font-size: 12px;
  position: absolute;
}




/********************************************************/

.saving span.load {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span.load:nth-child(2) {
  animation-delay: .2s;
}

.saving span.load:nth-child(3) {
  animation-delay: .4s;
}

.saving span.load:nth-child(4) {
  animation-delay: .6s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

/********************************************************/
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/****************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

div#moveToggle {
  margin: auto;
}