body {
  background-color: #dcf2f2;
}

table { 
  border-collapse: collapse; 
  border-spacing: 0;
}


table#chessboard {
  border: 2px solid #181818; 
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

#chessboard tr td { 
  width: 60px; 
  height: 60px;
  text-align: center;
  font-size: 250%;
}

.white {
	background: #dfcda3;
}

.black {
	background: #c9ac67;
}

#chessboard tr td:hover {
	background: #948261;
}


.selected {
  background: #759259;
}

.validMove.black {
  background: #afbd88;
}

.validMove.white {
  background: #c4d29b;
}

table#bank {
  border: 2px solid #181818; 
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

#bank tr td { 
  width: 60px; 
  height: 60px;
  text-align: center;
  font-size: 250%;
}

#main > div {
    display: inline-block;
}

#main {
    text-align: center;
    margin: 0px auto;
}   




/****************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

div#moveToggle {
  margin: auto;
}
