body {
  background-color: #dcf2f2;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}


table#chessboard {
  margin: auto;
  table-layout: fixed;
  width: 140px;
}


#chessboard tr td { 
  width: 60px; 
  height: 60px;
  text-align: center;
  font-size: 40px;
  padding: 0px;
}

.white {
	background: #dfcda3;
}

.black {
	background: #c9ac67;
}

#chessboard tr td:hover {
	background: #948261;
}


.selected {
  background: #759259;
}

.validMove.black {
  background: #afbd88;
}

.validMove.white {
  background: #c4d29b;
}

table#bank {
  border: 2px solid #181818; 
  margin: auto;
  table-layout: fixed;
  width: 120px;
}

#bank tr td { 
  width: 85px; 
  height: 70px;
  text-align: left;
  padding: 10px;
  font-size: 40px;
}

#main > div {
    display: inline-block;
}

#main {
    text-align: center;
    margin: 0px auto;
}   

#bank tr td:hover {
  background: #759259;
}

p#message {
  text-align: center;
  background-color: coral;
  margin: auto;
  font-size: 25px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 200px;
}



span.badge {
  font-size: 12px;
  position: absolute;
}




/********************************************************/

.saving span.load {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span.load:nth-child(2) {
  animation-delay: .2s;
}

.saving span.load:nth-child(3) {
  animation-delay: .4s;
}

.saving span.load:nth-child(4) {
  animation-delay: .6s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

/********************************************************/
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/****************/

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    display:inline-block;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}