body {
  margin: 5vw;
}
p {
  margin: 0;
  padding: 0;
}
input[type="number"] {
  width: 3em;
}
form textarea {
  height: 20px;
  width: 400px;
  resize: none;
}
input[type="submit"] {
  height: 100%;
}
.searchbar {
  resize: none;
  height: 20px;
}
.suggestions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.suggestions li {
  border: 1px solid #C0C0C0;
  color: black;
}
.suggestions li:hover {
  background-color: #6C6EAD;
  color: white;
}
.suggestions li:active {
  background-color: #DDDDDD;
  color: white;
}
td {
  vertical-align: top;
  margin: 0;
  padding-top: 0;
}
