body {
  background: #67BCDB;
  margin: 0vw;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

ul {
  list-style-type: none;
}

h1 {
  padding: 5px;
}
p {
  margin: 0;
  padding: 0;
}
canvas {
  background-color: white;
  border: 1px solid black;
}
div {
  height: 100%;
  overflow-y: scroll;
}
input[type="number"] {
  width: 3em;
}
form textarea {
  height: 20px;
  width: 400px;
  resize: none;
}
input[type="submit"] {
  height: 100%;
}
.searchbar {
  resize: none;
  height: 20px;
}
.suggestions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.suggestions li {
  border: 1px solid #C0C0C0;
  color: black;
}
.suggestions li:hover {
  background-color: #6C6EAD;
  color: white;
}
.suggestions li:active {
  background-color: #DDDDDD;
  color: white;
}
